[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.panel-heading input {
    margin: 0 !important;
    line-height: 0;
}

.panel-heading label {
    margin-bottom: 0 !important;
}

.panel-footer {
    height: 55px;
}

.panel-height {
    height: 300px;
}

.panel-scroll {
    overflow-y: scroll;
}

.panel-height-temp {
    height: 485px;
}

@media(min-width:768px) {
    .panel-height {
        height: 300px;
    }
    .panel-height-temp {
        height: 485px;
    }
}

@media(min-width:992px) {
    .panel-height {
        height: 430px;
    }
    .panel-height-temp {
        height: 485px;
    }
}

@media(min-width:1200px) {
    .panel-height {
        height: 320px;
    }
    .panel-height-temp {
        height: 375px;
    }

    .panel-height-temp .btn {
        padding: 3px 6px;
        font-size: 12px;
    }

    .panel-height-temp .tempDisplay {
        font-size: 12px;
    }
}

@media(min-width:1600px) {
    .panel-height-temp .btn {
        padding: 6px 12px;
        font-size: 14px;
    }

    .panel-height-temp .tempDisplay {
        font-size: 14px;
    }
}

@media(max-width:1200px) {
    #extruderPanel {
        clear: both;
    }
}

label {
    font-weight: normal;
}

a.editable-click {
    border-bottom: none;
    padding-left: 0;
}

.editable-wrap {
    margin-top: 10px;
}

.progress {
    margin-bottom: 0;
}

.line-legend {
    margin-top: -20px !important;
    margin-bottom: 0;
}
